<section class="hero is-fullheight has-text-centered has-background-white" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column">
                    <p>
                        I am <b>Amzy</b>, a passionate game programmer with a particular interest to <b>gameplay</b> 
                        and the <b>tools and systems</b> that support it, currently studying at<a href="https://www.buas.nl/en/programmes/creative-media-and-game-technologies" class="has-text-grey-dark has-text-weight-bold">Breda University Of Applied Sciences.</a>I 
                        have experience and enjoy working in <b>Unreal</b>,
                        <br>
                         as well as <b>custom engines</b>, utilizing <b>C++</b> to create <b>extensible gameplay architectures</b> that support both <b>technical and creative</b> needs of game development. 
                    </p>
                    <br>
                    <h1>
                        <b>Skills & Tools</b>
                    </h1>
                    <br>
                    <div class="columns is-centered is-mobile is-multiline" style="overflow: auto">
                        <figure class="column is-narrow">
                            <img class="icon" src="/assets/images/cpp.svg" alt="cpp">
                        </figure>
                        <figure class="column is-narrow">
                            <img class="icon" src="/assets/images/vs.png" alt="vs">
                        </figure>
                        <figure class="column is-narrow">
                            <img class="icon" src="/assets/images/vscode.png" alt="vscode">
                        </figure>
                        <figure class="column is-narrow">
                            <img class="icon" src="/assets/images/unreal.svg" alt="unreal">
                        </figure>
                        <figure class="column is-narrow">
                            <img class="icon" src="/assets/images/perforce.png" alt="perforce">
                        </figure>
                        <figure class="column is-narrow">
                            <img class="icon" src="/assets/images/github.svg" alt="github">
                        </figure>
                        <figure class="column is-narrow">
                            <img class="icon" src="/assets/images/jira.svg" alt="jira">
                        </figure>
                        <figure class="column is-narrow">
                            <img class="icon" src="/assets/images/confluence.png" alt="confluence">
                        </figure>
                    </div>
                    <br>
                    <div class="container columns is-centered">
                    <!--
                        <div>
                            <a href="/more-about-me"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Read More About Me</a>
                            </a>
                        </div>
                    -->
                        <div>
                            <a href="/AmzyAmaliaZarcuResume.pdf?v=08-10-25" target="_blank" 
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Resume</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>