<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <div class="is-size-5 has-text-black is-uppercase has-text-weight-normal is-outlined has-text-weight-semibold">
                <i class="fas fa-envelope" style="margin-left: 0px; transform: translate(0px, 1.15px);"></i>
                Send me an email
            </div>
            <div id="email-container">
                <a href="mailto:{{site.email}}" target="_blank" class="has-text-black">
                    {{site.email}}
                </a>
            </div>
            
            <hr style="height: 2px;">

            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black" style="margin-bottom: 5px;">
                You can find me here
            </h3>
            <div class="columns is-full is-size-1" style="justify-content: center;">
                <div class="column is-narrow">
                    <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <div class="column is-narrow">
                    <a href="http://www.github.com/{{site.github_username}}" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="column is-narrow">
                    <a href="https://{{site.itchio_username}}.itch.io/" target="_blank">
                        <i class="fab fa-itch-io"></i>
                    </a>
            </div>
        </div>
        </div>
    </div>
</section>
