<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        MORE
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        <a href="/AmzyAmaliaZarcuResume.pdf" target="_blank" 
            class="navbar-item has-text-grey-light {% if page.url == '/AmzyAmaliaZarcuResume.pdf' %}is-active{% endif %}">
            Resume
        </a>
        <!--
        <a href="{{ '/more-about-me' | absolute_url }}"
            class="navbar-item has-text-grey-light {% if page.url == '/more-about-me' %}is-active{% endif %}">
            More About Me
        </a>
        -->
    </div>
</div>