<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        MORE
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        {% assign resume_page = site.pages | where: "url", "/resume" | first %}
        <a href="{{ '/resume' | absolute_url }}"
            class="navbar-item has-text-grey-light {% if page.url == '/resume' %}is-active{% endif %}">
            {{ resume_page.title | default: "Resume title not working" }}
        </a>
    </div>
</div>