<footer id="footer">
    <!--Footer Button-->
    <div class="container has-text-centered has-background-grey-darker" id="backtotop">
        <a class="has-text-white" onclick="window.scroll(0,0)">BACK TO TOP</a>
    </div>
    <!--Footer Main Section-->
    <div class="has-background-grey-darker">
        <div class="container columns">
            <!--Name Section-->
            <div class="column has-text-left-desktop has-text-centered-mobile">
                <a href="{{site.url}}{{site.baseurl}}/#about">
                    <div class="columns">
                        <div class="column is-one-fifth-desktop is-one-fifth-fullhd is-one-quarter-tablet">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="{{site.author-image}}">
                            </figure>
                        </div>
                        <div class="column is-marginless">
                            <h5 class="has-text-grey-lighter">{{site.author-name}}</h5>
                            <div class="content has-text-grey">
                                {{ site.description }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column has-text-left-desktop has-text-centered-mobile">
                <!--Email-->
                <a href="mailto:{{site.email}}" class="has-text-grey">{{site.email}}</a>
                            <div class="columns is-full is-size-1" style="justify-content: center;">
                <!--Icons-->
                <div class="columns is-full is-size-1 is-mobile" style="justify-content: center; margin: 12px;">
                    <div class="column is-narrow">
                        <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-grey has-text-right-desktop" style="font-size: 30px;">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="column is-narrow">
                        <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-grey has-text-right-desktop" style="font-size: 30px;">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <div class="column is-narrow">
                        <a href="https://{{site.itchio_username}}.itch.io/" target="_blank" class="has-text-grey has-text-right-desktop" style="font-size: 30px;">
                            <i class="fab fa-itch-io"></i>
                        </a>
                </div>

                <!--
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-grey has-text-right-desktop" style="font-size: 30px;">
                    <i class="fab fa-linkedin"></i>
                </a>
                    <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" class="has-text-grey has-text-right-desktop">{{site.linkedin_username}}</a>
                -->
            </div>
        </div>
    </div>
</footer>