<a href="{{ project.url | absolute_url }}" class="columns is-vcentered" id="project-card">
  <div class="column is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
    <figure class="image is-16by9">
      <img src="{{ project.project-image }}" alt="{{ project.title }}" style="border-radius: 0.25rem;">
    </figure>
  </div>
  <div class="column has-text-left">
    <h1 class="title is-size-4-touch">{{ project.title }}</h1>
    <div class="content has-text-grey">
      {{ project.description }}
      <hr class="has-background-grey-darker" style="margin: 6px">
  </div>

  <div class="columns is-vcentered">
    <!-- Column 1 -->
    <div class="column content has-text-grey is-narrow" style="margin: 4px">
      <span><i class="icon fa-solid fa-hammer"></i> {{ project.engine-tool }}</span>
      <span><i class="icon fa-solid has-text-grey-darker fa-calendar-days"></i> {{ project.year }}</span>
    </div>

    <!-- Column 2 -->
    <div class="column content has-text-grey is-narrow" style="margin: 4px">
      <span><i class="icon fa-solid has-text-grey-darker fa-users"></i> {{ project.team-size }}</span>
      <span><i class="icon fa-regular has-text-grey-darker fa-clock"></i> {{ project.duration }}</span>
    </div>

</div>
</div>
</a>