<a href="{{ project.url | absolute_url }}" class="columns is-vcentered" id="project-card">
  <div class="column is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
    <figure class="image is-16by9">
      <img src="{{ project.project-image }}" alt="{{ project.title }}" style="border-radius: 0.25rem;">
    </figure>
  </div>
  <div class="column has-text-left">
    <h1 class="title is-size-4-touch">{{ project.title }}</h1>
    <div class="content has-text-grey">
      {{ project.description }}
      <hr class="has-background-grey" style="margin: 6px">
  </div>

  <div class="content has-text-grey" style="margin: 4px">
    <p>
    [ ] Tool
    <br>
    [ ] Team Size
  </p>
  </div>
</div>
</a>