---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include navbar.html %}

  <section class="hero is-fullheight has-text-centered" id="project">
    <div class="hero-body">
      <div class="container">
        <!-- Title -->
        <a href="{{page.url | relative_url}}" class="has-text-black" id="title">
          <h1 class="title has-text-centered is-2 has-text-weight-semibold ">{{page.title}}</h1>
          <hr class="has-background-black">
        </a>

        <!-- Description -->
        <div class="content">
          {{ page.description }}
          <hr class="has-background-grey-darker" style="height: 1.5px; width: 80%">
        </div>

        <!-- Info & GIF -->
        <div class="columns">
          <!-- Info -->
          <div class="column">

              <!-- Stats -->
              <div class="content is-one-third has-text-left" style="margin: 4px">
                <h4 style="margin: 1px; text-align: center;">Stats</h4>
                <div><i class="icon fa-regular has-text-grey-darker fa-circle-question"></i> {{ page.project-type }}</div>
                <div><i class="icon fa-solid has-text-grey-darker fa-hammer"></i> {{ page.engine-tool }}</div>
                <div><i class="icon fa-solid has-text-grey-darker fa-calendar-days"></i> {{ page.year }}</div>
                <div><i class="icon fa-solid has-text-grey-darker fa-users"></i> {{ page.team-breakdown }}</div>
                <div><i class="icon fa-regular has-text-grey-darker fa-clock"></i> {{ page.duration }}</div>
              </div>

              <!-- Key Responsibilities -->
              <div class="content">
                <h4 style="text-align: center;">Key Responsibilities</h4>

                <!-- List of Responsibilities -->
                <div class="content has-text-left ">
                  <ul>
                  {{ page.key-responsibilities-1 }}
                  {{ page.key-responsibilities-2 }}
                  </ul>
                </div>
              </div>
          </div>
        
          <!-- GIF -->
          <div class="column is-three-fifths">
            <img src="{{page.project-gif}}" alt="Project GIF">
          </div>
        </div>
        <hr class="has-background-grey-darker" style="height: 1.5px;">

        <!-- Content -->
        <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">
          <p>{{ content }}</p>
        </div>
        {% unless site.disqus-shortname == "" %}
        <div class="disqus-comments" id="disqus_thread"></div>
        {% endunless %}
      </div>
    </div>
  </section>

  {% include footer.html %}
</body>
<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function () { /* DON'T EDIT BELOW THIS LINE */
    var d = document,
      s = d.createElement('script');
    s.src = 'https://{{site.disqus-shortname}}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>

</html>